
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

hooks/
resources/ios
resources/android
lib/
node_modules/
platforms/
plugins/
www/
ambilightApp.iml
ionic.project