<md-content layout-padding layout="column">
    <section>
        <md-subheader class="md-primary">Options</md-subheader>
        <md-list>
            <md-list-item class="md-2-line" layout="row">
                <div class="md-list-item-text">
                    <h3>Ambilight Configuration</h3>
                    <p>Here you can configure ambilight.</p>
                    <p>
                        TOPO:{{vm.topology}}
                    </p>
                </div>
            </md-list-item>
        </md-list>
    </section>
</md-content>