<md-content layout-padding layout="column">
    <section>
        <h3>Shake Gesture Configuration</h3>

        <md-list>
            <md-list-item class="md-2-line" layout="row">
                <div class="md-list-item-text">
                    <h5>Shake Gesture</h5>
                    <p>The Shake Gesture toggles the state of all lights.</p>
                    <p>
                        <!-- http://www.gottabemobile.com/2012/05/15/five-cool-features-from-the-samsung-galaxy-s-iii-manual/ -->
                        <img src="img/Shake.jpg"/>
                    </p>
                </div>
            </md-list-item>
        </md-list>
    </section>
</md-content>